[Desktop Entry]
Name=IntelliJ IDEA Ultimate
GenericName=IDE
Icon=display
Exec=/snap/bin/intellij-idea-ultimate
Terminal=false
Type=Application
Categories=IDE;
StartupNotify=true
