[Desktop Entry]
Name=Plex
Icon=display
Exec=firefox --new-window https://plex.dle.dev
Terminal=false
Type=Application
Categories=Media
StartupNotify=true
