[Desktop Entry]
Name=Plex
Icon=display
Exec=brave-browser --app=https://plex.dle.dev
Terminal=false
Type=Application
Categories=Media
StartupNotify=true
