[Desktop Entry]
Name=Spotify
Icon=/home/dle/.icons/FlatWoken/scalable/apps/spotify.svg
Exec=/usr/bin/spotify
Terminal=false
Type=Application
Categories=Media
StartupNotify=true
