[Desktop Entry]
Name=WhatsApp
GenericName=Chat
Icon=/home/dle/.icons/FlatWoken/scalable/apps/whatsapp.svg
Exec=firefox --new-window https://web.whatsapp.com/
Terminal=false
Type=Application
Categories=Chat;
StartupNotify=true
