[submodule "compton"]
	path = compton
	url = https://github.com/tryone144/compton.git
[submodule "xcb-util-xrm"]
	path = xcb-util-xrm
	url = https://github.com/Airblader/xcb-util-xrm
[submodule "i3-gaps"]
	path = i3
	url = https://www.github.com/Airblader/i3
[submodule "rofi"]
	path = rofi
	url = https://github.com/davatorium/rofi.git
[submodule "plymouth-themes"]
	path = plymouth-themes
	url = https://github.com/adi1090x/plymouth-themes.git
[submodule "FlatWoken"]
	path = FlatWoken
	url = https://github.com/alecive/FlatWoken.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
